


@import url('https://fonts.googleapis.com/css2?family=Anek+Latin&family=Hind+Siliguri:wght@300&family=Noto+Sans+Mono:wght@200&family=PT+Sans+Narrow&family=Poppins:ital,wght@1,200&family=Press+Start+2P&family=Quicksand:wght@300&family=Russo+One&family=Silkscreen&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Manrope:wght@300&family=Montserrat:wght@100&family=Noto+Sans+Warang+Citi&family=Open+Sans:wght@300&family=PT+Sans&family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Manrope:wght@300&family=Montserrat:wght@100&family=Noto+Sans+Warang+Citi&family=Open+Sans:wght@300&family=PT+Sans&family=Poppins:wght@200&family=Space+Mono&family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Lumanosimo&family=Montserrat:wght@100&family=Press+Start+2P&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Lumanosimo&family=Montserrat:wght@100&family=Press+Start+2P&family=Roboto:wght@300&family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Astloch:wght@700&family=Bokor&family=Lato:wght@100&family=Lumanosimo&family=Montserrat:wght@100&family=Press+Start+2P&family=Roboto:wght@300&family=Smythe&family=UnifrakturCook:wght@700&display=swap');

/*
font-family: 'Dosis', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans Warang Citi', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Vollkorn', serif;
font-family: 'UnifrakturCook', serif;

font-family: 'Astloch', serif;
font-family: 'Bokor', serif;
font-family: 'Smythe', serif;

font-family: 'Nanum Myeongjo', serif;
font-family: 'Vina Sans', sans-serif;

*/



/*



azul claro: #272597;
laranka: #FE904D;
azul escuro: #111041;
branco: #F4F4F6;




*/

/*menu*/


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}
html,body{
	height: 100%;
	
	/*background-color:  #0d0924;*/
	background-color: #F4F4F6;
}


.menu{
	z-index: 10;
	position: fixed;
	top: -10px;
	width: 100%;
	max-height: 90px;
	height: 100%;
	padding: 10px;
	display: flex;
	background-color: rgba(25, 2, 74, 1.0);

}

.singleimg {
	width: 100%;
	height: 40px;
}
.singleimg img{
	width: 100%;
	max-width: 55px;
		cursor: pointer;
	height: 100%;
}
.container_img{
	
	width: 60%;
	height: 100%;
	padding: 20px;
	display: flex;
	
}
.container_menu_itens{

	/*aqui no mediascreen esse width tem que ir pra uns 50%*/
	width: 60%; 
	height: 80%;
	padding: 20px;
	display: flex;

}
.item_menu_single {
	
	width: 20%;
	text-align: center;
	margin: 0 auto;

}
.item_menu_single a{
	color: #F4F4F6;
	font-weight: bold;
		text-align: center;
	text-decoration: none;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
}
.item_menu_single a:hover{
	color: #dcdce0;
	transition: 0.3s;
	font-size: 17px;
	}

.backmenuselect{
	padding: 10px;
	text-align: center;
	background-color: rgba(255,255,255,0);
	border-radius: 16px;
}
.backmenuselect:hover{
	padding: 10px;
	text-align: center;
	background-color: rgba(255,255,255,0);
	border-radius: 16px;
}





/*container1*/
     .container1 {
            width: 100%;
            height: 100%;
            max-height: 600px;
            margin: 0 auto;
            background-image: url('capa.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 25%;
            position: relative;

        }
  .mask {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(17, 12, 66, 0.3);

             /* Cor e opacidade da máscara */
            pointer-events: none; /* Permitir cliques através da máscara */
        }

.containertitulo {
	position: relative;
	left: -110px;
  margin: 0 auto;
  width: 100px;
  text-align: center;
  padding-top: 250px;
}

.containertitulo2 {
	position: relative;
	left: -180px;
  margin: 0 auto;
  width: 200px;
  text-align: center;
  padding-top: 20px;

}

.containertitulo p {
  color: #FE904D;
  font-size: 60px;
  font-family: monospace;
  border-right: 4px solid;
  width: 10ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.5s steps(10), blinking 0.5s infinite step-end alternate;
}



.containertitulo2 p {

	color: rgba(255,255,255, 0);
  font-size: 16px;
  font-family: monospace;
  border-right: 4px solid;
    width: 600px;
  white-space: nowrap;
  overflow: hidden;
  animation: typinge 2s steps(30), blinking 5s infinite step-end alternate;

}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typinge {
  from {
    width: 0;
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}
.btndotitulo{
	margin: 50px auto;
	width: 200px;
	border: 1px solid white;
	border-radius: 40px;
	cursor: pointer; 
	text-align: center;
	padding: 7px;
	height: 40px;
	z-index: 100000000;
}
.btndotitulo p{
	color: white;
	cursor: pointer;
}
.btndotitulo:hover{
	color: red;
}






/*CONTAINER2*/
.container2{
	background-color: #111041;
	background-color: #0B0121;
	
	width: 100%;
	height: 800px;
	padding-bottom: 30px;
	padding: 30px;
	padding-top:80px;

}
.titulo-container2{
	margin: 0 auto;
	text-align: center;


}
.titulo-container2 p{
	color: #F4F4F6;
	
	word-spacing: 10px;
	letter-spacing: 2px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 30px;
}
.container-conteudos{

	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	display: flex;
	margin-bottom: 4px;
	padding-bottom: 100px;
	padding-top: 90px;
	height: 100%;
	max-height: 700px;
	
	
}
.conteiner-legenda{
	margin: 0 auto;
	text-align: center;

 width: 300px;
  max-height: 200px;
 position: relative;
 top: 200px; 
 left: 160px;


 border-radius: 2px;
 z-index: 3;
 	padding: 20px;
 height: 100%; 
 
 background-color: rgba(255, 255, 255, 0.9);
box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);



}
.container-img{

 left: -70px;
 position: relative;
	 border-radius: 2px;
	margin: 0 auto;
	text-align: center;
 width: 300px;
 height: 100%;
 max-height: 300px;

 background-color: rgba(255, 255, 255, 0.9);
box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
}


.titulorecreativo{
	width: 280px;
	padding: 10px;
	position: relative;
		left: 100px;
	font-size: 30px;
	 color: white;
}

.titulorecreativo-single{
	display: none;
}


.containerseta{
	padding-top: 140px;

}

.seta{ 

	cursor: pointer;
	width: 60px;
	height: 60px;
}
.seta:hover{ 
	transition: 0.2s;

}


.seta p{
	width: 100%;
	height: 100%;
	color: white;
	font-size: 35px;

font-family: 'Nanum Myeongjo', serif;
font-family: 'Vina Sans', sans-serif;

}

.seta p:hover{
	transition: .5s;
	color: white;	
	font-size: 38px;


}


.legenda-single{
	text-align: left;
	display: none;
}
.texto-legenda p{
	padding-top: 10px;
	padding-left: 5px;
}
.titulo-legenda{
	text-align: center;
	color: white;
	margin: 0 auto;
	width: 100%;
	background-color: rgba(17, 16, 66, 1) ;
	padding: 10px;
	border-radius: 8px;
	transition: .9s;
}
.titulo-legenda a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	cursor: pointer;
	transition: .3s;

}
.titulo-legenda:hover a{
	font-size: 17px;
	text-decoration: none;
	color: rgb(203, 164, 225);
	cursor: pointer;

}

.el-img-single{
	width: 100%;
	height: 100%;
	max-width: 40px;
	max-height: 40px;

	padding: 20px;


	display: none;
	padding-top: 100px;
	border-radius: 130px;
}

.el-img-single img{
	border-radius: 20px;
	margin-top: 30px;
	width: 100%;
	height: 100%;
		max-width: 230px;
	max-height: 250px;

}


@keyframes slide-out {
  
from {
    opacity: 1;
  }
  to {
  	opacity: 0;
     
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-out {

  animation: slide-out 1s infinite;
}



.slide-in {
animation: slide-in 1s;
}


































/*continer sobre*/

.containersobre {
	width: 100%;
	height: 100%;
	max-width: 1280px;
	max-height: 1280px;
	min-height: 1200px;
	margin: 0 auto; /*ftteste3*/
	background-image: url('NEWIMG2.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 25%;
	position: relative;
	padding-bottom: 100px;

}
.masksobre {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(9, 6, 37, 0.4);

	 /* Cor e opacidade da máscara */
	pointer-events: none; /* Permitir cliques através da máscara */
}


.titulocontainersobre{

}


.boxsobrecontainer{
	display: flex;
	margin: 0 auto;
	padding-top: 50px;
	width: 100%;
	height: 100%;
	max-height: 480px;
	min-height: 200px;

}


.boxsobre{
	position: relative;
	left: 20px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 500px;
	cursor: pointer;
	max-height: 280px;
	min-height: 200px;
	background-color: #251573b8;
	border-bottom: 1px solid rgba(255, 255, 255, 0.601);
	border-right: 1px solid rgba(255, 255, 255, 0.601);
	border-radius: 20px;
	transition: .2s; 
}
.boxsobre:hover{
	top: -1px;

	max-width: 510px;
	max-height: 290px;
}
.boxsobre h1{
	
	padding-top: 20px;
font-size: 22px;
}
.boxsobreinf h1{
	padding-top: 20px;
	font-size: 22px;
}

.areadetexto{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 450px;
	max-height: 200px;
}
.areadetexto p{
	line-height: 25px;
	position: relative;
	top: -25px;
	color: rgba(255, 255, 255, 0.811);
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 18px;
}


.boxsobreinf{
	position: relative;
	left: -100px;
	top: 100px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 500px;
	max-height: 280px;
	min-height: 200px;
	cursor: pointer;
	background-color: #251573b8;
	border-right: 1px solid rgba(255, 255, 255, 0.601);
	border-bottom: 1px solid rgba(255, 255, 255, 0.601);
	border-radius: 20px;
	transition: .2s;
}
.boxsobreinf:hover{
	
	top: 90px;
	max-width: 510px;
	max-height: 290px;
}

.containerflexa{

	margin: 0 auto;
	padding-top: 50px;
	width: 100%;
	height: 100%;
	max-height: 200px;
	text-align: center;
}
.flexa{
	margin: 0 auto;
	width: 50px;
	height: 50px;
	cursor: pointer;
	transform: rotate(90deg);
	background-image: url('flexa.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 25%;
	transition: .3s;
	animation: tamanhoInfinito .5s infinite alternate; /* Aplica a animação */

}
.flexa:hover{

	width: 65px;
	height: 65px;

	background-position: 100% 25%;
}

@keyframes tamanhoInfinito {
    from {
        width: 50px;
        height: 50px;
    }

    to {
        width: 60px;
        height: 60px;
    }
}

.contttt{
    margin: 0;
	position: relative;
	top: -40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
	
}





.container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card{
    position: relative;
    cursor: pointer;
	border-radius: 20px;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
	background: rgba(25, 2, 74, 1.0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
	background: #0B0121;
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}















/*containertemplates*/
.containertemplates{
		width: 100%;
	height: 100%;
	max-height: 900px;
	margin: 0 auto;
background-color: rgb(190, 185, 199);
	position: relative;
}

#carousel {
	position: relative;
	height: 500px;
	top: 50%;
	transform: translateY(-50%);
	overflow: hidden;
  }
  
  #carousel div {
	position: absolute;
	transition: transform 2s, left 1s, opacity 1s, z-index 0s;
	opacity: 1;
  }
  
  #carousel div img {
	width: 400px;
	transition: width 1s;
  }
  
  #carousel div.hideLeft {
	left: 0%;
	opacity: 0;	
	transform: translateY(50%) translateX(-50%);
  
	#carousel div.hideLeft img {
	  width: 200px;
	}
  }
  
  #carousel div.hideRight {
	left: 100%;	
	opacity: 0;
	transform: translateY(50%) translateX(-50%);
  
	#carousel div.hideRight img {
	  width: 200px;
	}
  }
  
  #carousel div.prev {
	z-index: 5;
	left: 30%;	opacity: 0;
	transform: translateY(50px) translateX(-50%);
  
	#carousel div.prev img {
	  width: 300px;
	}
  }
  
  #carousel div.prevLeftSecond {
	z-index: 4;
	left: 15%;	opacity: 0;
	transform: translateY(50%) translateX(-50%);

  
	#carousel div.prevLeftSecond img {
	  width: 200px;
	}
  }
  
  #carousel div.selected {
	z-index: 10;	
	left: 50%;
	transform: translateY(0px) translateX(-50%);
  }
  
  #carousel div.next {
	z-index: 5;	opacity: 0;
	left: 70%;
	transform: translateY(50px) translateX(-50%);
  
	#carousel div.next img {
	  width: 300px;
	}
  }
  
  #carousel div.nextRightSecond {
	z-index: 4;
	left: 85%;	opacity: 0;
	transform: translateY(50%) translateX(-50%);

  
	#carousel div.nextRightSecond img {
	  width: 200px;
	}
  }
  
  .buttons {
	width: 300px;
	
	transition: .2s;
	margin: 0 auto; text-align: center;
	 border: 1px solid rgba(0, 0, 0, 0.438); padding: 10px; border-radius: 14px; cursor: pointer;
	margin-top: 20px;
}
  .buttons:hover {
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.814);
	background-color: #2baa1f;

  }
 
















/*containerfeedback*/
.containerfeedback{
	width: 100%;
height: 100%;
max-height: 600px;
margin: 0 auto;
background-color: rgb(75, 14, 189);
position: relative;
}

.containerVALORES{
	width: 100%;
	height: 100%;
	max-height: 600px;
	margin: 0 auto;
	background-color: rgb(14, 2, 36);
	position: relative;
}












/*conato*/
.containercontato {
	width: 100%;
	height: 100%;
	max-height: 600px;
	margin: 0 auto;
background-color: #0B0121;
	position: relative;

}




@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);


section {
  padding: 2em 10px;
}
h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2em;
}
div.form {
  width: 100%;
  max-width: 450px;
  border: 2px solid #fff;
  margin: 0 auto;
  padding: 20px;
}
.input-field {
	margin-top: 20px;
  position: relative;
}
.input-field i {
  color: #fff; 
  margin: 0px 1rem;
  font-size: 25px;
  width: 25px;
  top: 0px;
  position: relative;
}
.input-field i.fa-pen {
  top: -12px;
  position: relative;
}
.input-field:active {color: #8FC924;}

input, textarea {
  margin-left: 3rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  height: 3rem;
  margin: 0 0 15px 0;
  transition: all .3s;
  overflow: hidden;
  width: 80%;
  padding-top: 20px;
  font-size: 16px;
  margin-top: 40px;
}
input[type=text]{
	color: white;
	padding: 1.6rem 0;
}
textarea {
  padding: 1.6rem 0;
  color: white;
}
label {
  color: #fff;
  position: absolute;
  top: 15px;
  left: 4px;
  cursor: text;
  margin-left: 55px;
 
}
.btn-block {
  margin: 0 auto;
  text-align: center;
}
.btn-block .btn {
  text-decoration: none;
  color: #fff;
  background-color: #57c631;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
  border: none;
  padding: 10px 35px;
  font-size: 19px;
  margin-top: 1em;
  margin-bottom: 1em; 
}
.btn-block .btn i {
  float: right; 
  padding-left: 10px; 
  font-size: 16px; 
  padding-top: 3px;
}
@media (max-width: 400px) {
  div.form {width: 90%; padding: 20px 10px;}
  input, textarea {width: 73%;}
  .input-field i {margin: 0px 1rem 0px 0.6rem;}
  label {left: 0.7rem;}
}

















/*bg*/

.bgL{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'PT Sans', sans-serif;
	z-index: 11;
	width: 100%;
	height: 5800px;
	background-color: rgba(0,0,0,0.8);
}

.bgconteudoL{

	left: 0;
	top: 0;
	font-family: 'PT Sans', sans-serif;
	position: fixed;	
	width: 200px;
	height: 100%;
	background-color: grey;

}

.bgconteudoL ul li {
	padding-top: 30px;
	padding-left: 20px;

}

.bgconteudoL ul li a{
	color: black;
	font-size: 20px;
	font-weight: bold;
	padding-top: 20px;
	text-decoration: none;
}


.bgconteudoL ul li a:hover{
	color: white;
	transition: .2s;
	
}











/*
.Cardcontainer{
	width: 100%;
	height: 600px;
	
}
.card-single{
	margin: 20px auto;
	display: flex;
	width: 100%;
	padding: 20px;
	
}
.imgicon1{
	width: 37px;
height: 31px;

background: url(image.png);
filter: drop-shadow(0px 0px 18.2273px rgba(149, 37, 201, 0.75));


flex: none;
order: 0;
flex-grow: 0;
	background-size: cover;
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 24 24"%3E%3Cpath fill="%23b3549b" d="M20 0H4v2h16V0zM4 24h16v-2H4v2zM20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-8 2.75c1.24 0 2.25 1.01 2.25 2.25s-1.01 2.25-2.25 2.25S9.75 10.24 9.75 9S10.76 6.75 12 6.75zM17 17H7v-1.5c0-1.67 3.33-2.5 5-2.5s5 .83 5 2.5V17z"%2F%3E%3C%2Fsvg%3E')
}

.imgicon2{
	width: 37px;
height: 33px;

background: url(image.png);
filter: drop-shadow(0px 0px 18.2273px rgba(89, 29, 221, 0.75));


flex: none;
order: 0;
flex-grow: 0;
	background-size: cover;
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="256" height="256" viewBox="0 0 256 256"%3E%3Cpath fill="%238c03fc" d="M204.41 51.63a108 108 0 1 0 0 152.74a107.38 107.38 0 0 0 0-152.74Zm-17 17A83.85 83.85 0 0 1 196.26 79L169 111.09l-23.3-65.21a83.52 83.52 0 0 1 41.73 22.72Zm-118.85 0a83.44 83.44 0 0 1 51.11-24.2l14.16 39.65l-68.12-12.47c.93-1.02 1.88-2.02 2.87-3.01ZM48 153.7a84.48 84.48 0 0 1 3.4-60.3l41.44 7.6Zm20.55 33.7a83.94 83.94 0 0 1-8.81-10.4L87 144.91l23.3 65.21a83.53 83.53 0 0 1-41.72-22.72Zm36.36-63.61l15.18-17.85l23.06 4.21l7.88 22.06l-15.17 17.85l-23.06-4.21Zm82.49 63.61a83.49 83.49 0 0 1-51.11 24.2L122.15 172l68.14 12.44c-.93.97-1.88 1.97-2.86 2.96ZM163.16 155L208 102.3a84.43 84.43 0 0 1-3.41 60.3Z"%2F%3E%3C%2Fsvg%3E')

}
.imgicon3{
	width: 37px;
height: 33px;

background: url(image.png);
filter: drop-shadow(0px 0px 18.2273px rgba(89, 29, 221, 0.75));


flex: none;
order: 0;
flex-grow: 0;
	background-size: cover;
	background-size: cover;
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="256" height="256" viewBox="0 0 256 256"%3E%3Cpath fill="%233235a1" d="M236 208a12 12 0 0 1-12 12H32a12 12 0 0 1-12-12V48a12 12 0 0 1 24 0v99l43.51-43.52a12 12 0 0 1 17 0L128 127l43-43h-11a12 12 0 0 1 0-24h40a12 12 0 0 1 12 12v40a12 12 0 0 1-24 0v-11l-51.51 51.52a12 12 0 0 1-17 0L96 129l-52 52v15h180a12 12 0 0 1 12 12Z"%2F%3E%3C%2Fsvg%3E')
}
.imgicon4{
		width: 37px;
height: 33px;

background: url(image.png);
filter: drop-shadow(0px 0px 18.2273px rgba(89, 29, 221, 0.75));


flex: none;
order: 0;
flex-grow: 0;
	background-size: cover;
	background-size: cover;
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="256" height="256" viewBox="0 0 256 256"%3E%3Cpath fill="%23529e89" d="M200 40h-32a16 16 0 0 0-16-16H32a16 16 0 0 0-16 16v80a16 16 0 0 0 16 16h8v64a16 16 0 0 0 16 16h144a16 16 0 0 0 16-16V56a16 16 0 0 0-16-16Zm-93.66 21.66a8 8 0 0 1 11.32-11.32l24 24a8 8 0 0 1 0 11.32l-24 24a8 8 0 0 1-11.32-11.32L124.69 80Zm-64 24a8 8 0 0 1 0-11.32l24-24a8 8 0 0 1 11.32 11.32L59.31 80l18.35 18.34a8 8 0 0 1-11.32 11.32ZM200 200H56v-64h96a16 16 0 0 0 16-16V56h32Z"%2F%3E%3C%2Fsvg%3E')
}



.card{
	cursor: pointer;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 30px;
	gap: 8px;

	width: 348px;
	height: 254px;

	background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
	box-shadow: 0px -5px 20px -14px rgb(252, 252, 252);
	
	border-radius: 10px;
	flex: none;
	order: 1;
	flex-grow: 0;
}	
.card:hover{
	box-shadow: 0px -5px 20px -10px rgb(252, 252, 252);
	width: 368px;
	height: 264px;
	transition: 0.2s;
}
.card h1{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 130%;


letter-spacing: -0.08px;

color: #ECECEC;
}
.card p{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 130%;


letter-spacing: -0.08px;

color: #ECECEC;
}
*/